.footer{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-primaria4);
    color: var(--cor-secundaria1);
    font-size: var(--texto-pq);
    gap: 5px;
}

.footer p{
    color: var(--cor-secundaria1);
    font-size: var(--texto-pq);
    font-weight: var(--peso-regular);
    margin: 0;
}